*.pyc
*.swp
*.db
*.classpath
*.project
*.settings
blog-implementations/java/play/sample-blog/tmp
blog-implementations/java/play/sample-blog/lib
blog-implementations/java/play/sample-blog/test-result
blog-implementations/java/play/sample-blog/logs
blog-implementations/java/play/sample-blog/eclipse

